:root{
    --bg-color: #000;
    --main-brand-color: #119733;
    --main-brand-color-light: #e44c54;
    --secondary-brand-color: #0e1b4f;
    --main-text-color: #fff;
    --border-color: #4b5563;
    --main-font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.main-bg{
   
    color: var(--main-text-color);
    background-color: var(--bg-color);

}
*{
    box-sizing: border-box;
}

@media print {
    header.header, .footer, .banner{
        display: none;
    }
 
}
@media screen and (prefers-color-scheme: light){
    :root {
        --bg-color: #FFF;
        --main-text-color: #000;
    }
}


