.info{
    width: 80%;
    margin: 0 auto;
    max-width: 768px;
    .assets{
        position: relative;
        display: flex;
        justify-content: center;
        img{
         width: 16em;  
         z-index: 20;
        }
        video{
            top:30px;
            width: 10em;
            position: absolute;
            z-index: 2;
        }
    }
}
@media screen and (width > 768px){
    .info{
        display:flex;
        flex-direction: row-reverse;
        gap: 2.5rem;
        align-items: center;
    }
}